<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Blog - Lekhak.com</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <div class="container">
    <header>
      <h1><%= heading %></h1>
    </header>

    <main>
      <% if (locals.post) { %>
        <form id="editForm" method="POST" action="/api/posts/<%= post.id %>">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" value="<%= post.title %>" required>

          <label for="content">Content</label>
          <textarea id="content" name="content" rows="10" required><%= post.content %></textarea>

          <label for="author">Author</label>
          <input type="text" id="author" name="author" value="<%= post.author %>" required>

          <button class="full-width" type="submit"><%= submit %></button>
        </form>

      <% } else { %>
        <form id="newPostForm" method="POST" action="/api/posts">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" placeholder="Enter title" required>

          <label for="content">Content</label>
          <textarea id="content" name="content" placeholder="Write your blog post..." rows="10" required></textarea>

          <label for="author">Author</label>
          <input type="text" id="author" name="author" placeholder="Your name" required>

          <button class="full-width" type="submit"><%= submit %></button>
        </form>
      <% } %>
    </main>
  </div>
</body>

</html>
